body {
    margin: 0;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: black;
    height: 200px;
    width: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: row;
  }

  @keyframes changeColor {
    0% {
      border-color: red;
    }
    50% {
      border-color: blue;
    }
    100% {
      border-color: green;
    }
  }
  
h1 {
  color: white;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;

  text-align: center;
}

  hr {
    width: 85%;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo {
    width: auto;
    height: 120px;
    margin-top: 10px;
    margin-left: 20px;
    animation:  changeColor 3s infinite;
    border: 2px solid black;
    pointer-events: auto;
    transition: border-color 0.5s,  transform 0.5s;
  }
  
  .logo:hover {
    pointer-events: auto;
    transform: scale(1.1);
  }
  

  .link{
    color: white;
    display: inline-block;
    margin-top: 7%;
    margin-left: 50px;
    text-decoration: none;
    pointer-events: auto;
    cursor: help;
  }


  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 250px;
    width: auto;
    color: white;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .logo-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .fa-phone {
    margin-right: 10px;
  }
  
  .fa-envelope {
    margin-left: 20px;
    margin-right: 10px;
  }

  .cgv {
    margin-top: 30px;
    margin-left:200px ;
    color: white;
    text-decoration: none;
    cursor: help;
  }