body {
    margin: 0;
}

nav {
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    pointer-events: none;
  }


  .logo {
    pointer-events: auto;
    width: auto;
    height: 150px;
  } 

  .link{
    color: white;
    margin-top: 3%;
    margin-left: 65px;
    margin-right: 20px;
    padding: 50px;
    text-decoration: none;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    cursor: help;
    
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: auto;
    color: white;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .logo-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .fa-phone {
    margin-right: 10px;
  }
  
  .fa-envelope {
    margin-left: 20px;
    margin-right: 10px;
  }

  .cgv {
    margin-top: 30px;
    margin-left:200px ;
    color: white;
    text-decoration: none;
    cursor: help;
  }